<div class="service" id="service">
    <h2>Academic Service</h2>
    <h5>Conference Reviewer:</h5>
    <div style="display: flex; justify-content: space-between; margin-top:2px;">
        <h6><a href="https://s2024.siggraph.org/"> ACM SIGGRAPH</a> | <a href="https://asia.siggraph.org/2024/"> ACM
                SIGGRAPH Asia </a></h6>
        <p align="right"> @2024 </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6><a href="https://irc.cs.sdu.edu.cn/gmp2024/index.html#/"> International Conference on Geometric Modeling and
                Processing (GMP) </a></h6>
        <p align="right"> @2024 </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom:10px;">
        <h6><a href="https://www.sciencedirect.com/journal/graphical-models"> Graphical Models (GMOD) </a></h6>
        <p align="right"> @2024 </p>
    </div>
    <h5>Journal Reviewer:</h5>
    <div style="display: flex; justify-content: space-between; margin-top:2px;">
        <h6><a href="https://pg2023.org/"> Pacific Graphics </a></h6>
        <p align="right"> @2023 </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom:10px;">
        <h6><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=2945"> IEEE Transactions on Visualization
                and Computer Graphics (TVCG) </a></h6>
        <p align="right"> @2022 </p>
    </div>
    <!-- Teaching -->
    <h5>Teaching:</h5>
    <div style="display: flex; justify-content: space-between; margin-top:2px; ">
        <h6>UTD <a href="https://honors.utdallas.edu/research/clark-program/">Clark Summer Research Program</a>,
            Teaching Assistant</h6>
        <p align="right"> @2024Summer </p>
    </div>
    <div style="display: flex; justify-content: space-between;" class="links">
        <h6>
            <a href="https://stem.cast-texas.org/">CAST-STEM Bridge Summer Camp</a>, Teaching Assistant
            <!-- <a href="https://geschen.github.io/group3/" class="btn-sm z-depth-1">Website</a>
            <a href="https://drive.google.com/file/d/1iFXABC9Dyq1ISVGrJrcc_8E2I0ULn_G-/view?usp=sharing"
                class="btn-sm z-depth-1">Video</a>
            <a href="https://drive.google.com/file/d/1iGtoK2RSSKq8FrEEK8fzYhths8vqSVhT/view?usp=sharing"
                class="btn-sm z-depth-1">Poster</a>
            <a href="https://docs.google.com/presentation/d/1cpHMhi70BZrOFItmhAmJkOhtg7tP8FND/edit?usp=drive_link&ouid=113141782685355088758&rtpof=true&sd=true"
                class="btn-sm z-depth-1">PPT</a> -->
        </h6>
        <p align="right"> @2024Summer </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <figure>
            <img src="assets/img/2024_cast_stem/group_pic.png" style="width:100%;">
            <figcaption>Fig. 1st Prize CAST STAR Award Winners 2024 [1/16 teams] - Dallas, Texas.</figcaption>
        </figure>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>UTD CS6323<a href="https://github.com/CS6323utd/asst0_environment"> Computer Animation and Gaming</a>,
            Teaching Assistant</h6>
        <p align="right"> @2022Fall </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>UTD CS6366<a href="https://github.com/CS6366utd/starter_code_mac"> Computer Graphics</a>, Teaching
            Assistant
        </h6>
        <p align="right"> @2021Spring </p>
    </div>
    <!-- <div style="display: flex; justify-content: space-between;">
        <h6>UTD CS6334 Virtual Reality, Teaching Assistant</h6>
        <p align="right"> @2020Spring </p>
    </div> -->
    <div style="display: flex; justify-content: space-between;">
        <h6>UTD CS4347 Database Systems, Teaching Assistant </h6>
        <p align="right"> @2021Spring, 2022Fall </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom:10px;">
        <h6>UTD CS4332 Introduction to Programming Video Games, Teaching Assistant </h6>
        <p align="right"> @2019Fall </p>
    </div>
</div>