<div class="service">
    <h2 id="service"> 
        <a href="{{ '/#service' | relative_url }}" style="color: inherit">Academic Services</a>
    </h2>
    <h5>Conference:</h5>
    <div style="display: flex; justify-content: space-between; margin-top:2px;">
        <h6>Reviewer | <a href="https://s2024.siggraph.org/"> ACM SIGGRAPH</a> </h6>
        <p align="right"> @2025, 2024 </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top:2px;">
        <h6>Reviewer | <a href="https://asia.siggraph.org/2024/"> ACM SIGGRAPH Asia </a></h6>
        <p align="right"> @2025, 2024 </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom:2px;">
        <h6>Program Committee | <a href="http://iccvm.org/2025/"> International Conference on Computational Visual Media (CVM) </a></h6>
        <p align="right"> @2025 </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom:2px;">
        <h6>Program Committee | <a href="https://www.cgs-network.org/cgi25/"> Computer Graphics International (CGI) </a></h6>
        <p align="right"> @2025 </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>Reviewer | <a href="https://irc.cs.sdu.edu.cn/gmp2024/index.html#/"> International Conference on Geometric Modeling and
                Processing (GMP) </a></h6>
        <p align="right"> @2024 </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top:10px;">
        <h6>Reviewer | <a href="https://pg2023.org/"> Pacific Graphics </a></h6>
        <p align="right"> @2023 </p>
    </div>

    <!-- Journal -->
    <h5>Journal:</h5>
    <div style="display: flex; justify-content: space-between; margin-bottom:2px;">
        <h6>Reviewer | <a href="https://www.sciencedirect.com/journal/graphical-models"> Computer Aided Geometric Design </a></h6>
        <p align="right"> @2024 </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom:2px;">
        <h6>Reviewer | <a href="https://www.sciencedirect.com/journal/graphical-models"> Graphical Models (GMOD) </a></h6>
        <p align="right"> @2025, 2024 </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom:10px;">
        <h6>Reviewer | <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=2945"> IEEE Transactions on Visualization
                and Computer Graphics (TVCG) </a></h6>
        <p align="right"> @2022 </p>
    </div>
    
    <!-- Teaching -->
    <h5>Teaching:</h5>
    <div style="display: flex; justify-content: space-between;">
        <h6>Teaching Assistant | <a href="https://github.com/UTD-CG/Computer-Graphic--UTD"> UTD CS4361/CS6366 Computer Graphics</a></h6>
        <p align="right"> @2025Spring, 2024Fall </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top:2px; ">
        <h6>Teaching Assistant | <a href="https://honors.utdallas.edu/research/clark-program/">UTD Clarfk Summer Research Program</a></h6>
        <p align="right"> @2024Summer </p>
    </div>
    <div style="display: flex; justify-content: space-between;" class="links">
        <h6>
            Teaching Assistant | 
            <a href="https://stem.cast-texas.org/">CAST-STEM Bridge Summer Camp</a>
            <a href="https://geschen.github.io/group3/" class="btn-sm z-depth-1">Website</a>
            <a href="https://youtu.be/OsskSJVLZkw" class="btn-sm z-depth-1">Video</a>
            <a href="https://drive.google.com/file/d/1iGtoK2RSSKq8FrEEK8fzYhths8vqSVhT/view?usp=sharing"
                class="btn-sm z-depth-1">Poster</a>
        </h6>
        <p align="right"> @2024Summer </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <figure>
            <img src="assets/img/2024_cast_stem/group_pic.png" style="width:100%;">
            <figcaption>Fig. 1st Prize CAST STAR Award Winners - Dallas, Texas.</figcaption>
        </figure>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>Teaching Assistant | <a href="https://github.com/CS6323utd/asst0_environment">UTD CS6323 Computer Animation and Gaming</a></h6>
        <p align="right"> @2022Fall </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>Teaching Assistant | <a href="https://github.com/CS6366utd/starter_code_mac">UTD CS6366 Computer Graphics</a></h6>
        <p align="right"> @2021Spring </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>Teaching Assistant | UTD CS6334 Virtual Reality</h6>
        <p align="right"> @2020Spring </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>Teaching Assistant | UTD CS4347 Database Systems</h6>
        <p align="right"> @2021Spring, 2022Fall </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom:10px;">
        <h6>Teaching Assistant | UTD CS4332 Introduction to Programming Video Games</h6>
        <p align="right"> @2019Fall </p>
    </div>
</div>