<div class="service" id="service">
    <h2>Academic Service</h2>
    <h5>Conference Reviewer:</h5>
    <div style="display: flex; justify-content: space-between; margin-top:2px; height: 20px;">
        <h6><a href="https://s2024.siggraph.org/"> ACM SIGGRAPH </a></h6>
        <p align="right"> @2024 </p>
    </div>
    <div style="display: flex; justify-content: space-between; height: 20px;">
        <h6><a href="https://irc.cs.sdu.edu.cn/gmp2024/index.html#/"> International Conference on Geometric Modeling and Processing (GMP) </a></h6>
        <p align="right"> @2024 </p>
    </div>
    <div style="display: flex; justify-content: space-between; height: 20px; margin-bottom:10px;">
        <h6><a href="https://www.sciencedirect.com/journal/graphical-models"> Graphical Models (GMOD) </a></h6>
        <p align="right"> @2024 </p>
    </div>
    <h5>Journal Reviewer:</h5>
    <div style="display: flex; justify-content: space-between; margin-top:2px; height: 20px;">
        <h6><a href="https://pg2023.org/"> Pacific Graphics </a></h6>
        <p align="right"> @2023 </p>
    </div>
    <div style="display: flex; justify-content: space-between; height: 20px; margin-bottom:10px;">
        <h6><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=2945"> IEEE Transactions on Visualization and Computer Graphics (TVCG) </a></h6>
        <p align="right"> @2022 </p>
    </div>
</div>