<div class="teaching" id="teaching">
    <h2>Teaching</h2>
    <div style="display: flex; justify-content: space-between;">
        <h6>UTD CS6323<a href="https://github.com/CS6323utd/asst0_environment"> Computer Animation and Gaming</a></h6>
        <p align="right"> @2022Fall </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>UTD CS6366<a href="https://github.com/CS6366utd/starter_code_mac"> Computer Graphics</a></h6>
        <p align="right"> @2021Spring </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>UTD CS6334 Virtual Reality </h6>
        <p align="right"> @2020Spring </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>UTD CS4347 Database Systems </h6>
        <p align="right"> @2021Spring, 2022Fall </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6>UTD CS4332 Introduction to Programming Video Games </h6>
        <p align="right"> @2019Fall </p>
    </div>
</div>